# Entorno
.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Secretos
.env

# Datos
data/raw/*
data/interim/*
!data/raw/.gitkeep
!data/interim/.gitkeep

# Sistema
.DS_Store
Thumbs.db
.vscode/

# Modelos y artefactos generados
models/*
!models/metadatos_aps.json

# Figuras exportadas
reports/figuras/*
!reports/figuras/.gitkeep